.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-Car {
  height: 400px;
  width: 600px;
  padding-top: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.changerbutton {
  position: relative;

}

.color-title {
  padding-bottom: 10px;
  position: relative;;
  top: -10px;
}

.Json {
  color: black;
  position: absolute;
  top: 700px;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
